<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.salzerproduct.safehome">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
            android:allowBackup="false"
            tools:replace="android:allowBackup"
            android:icon="@mipmap/ic_home"
            android:label="@string/app_name"
            android:roundIcon="@android:color/white"
            android:supportsRtl="true"
            android:networkSecurityConfig="@xml/network_security_config"
            android:theme="@style/AppTheme">

        <activity
                android:name="com.salzerproduct.safehome.Dashboard"
                android:label="@string/app_name"
                android:screenOrientation="portrait"/>

        <activity
                android:name="com.salzerproduct.safehome.LoginActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"/>

        <activity
                android:name="com.salzerproduct.safehome.NotificationActivity"
                android:label="Notification Details"
                android:screenOrientation="portrait"/>

        <activity
                android:name="com.salzerproduct.safehome.SplashScreen"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/FullscreenTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <data android:name="android.content.Intent.FLAG_ACTIVITY_NO_ANIMATION"/>
            </intent-filter>
        </activity>

        <service
                android:name="com.salzerproduct.safehome.attention.FcmService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
                android:name="com.salzerproduct.safehome.attention.FcmIdService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity
                android:name="com.salzerproduct.safehome.DeviceActivity"
                android:label="@string/title_activity_device"
                android:screenOrientation="portrait">
        </activity>

        <activity
                android:name="com.salzerproduct.safehome.HistoryActivity"
                android:label="History Details"
                android:screenOrientation="portrait"/>

        <activity
                android:name="com.salzerproduct.safehome.UserSettingsActivity"
                android:label="User Settings"
                android:screenOrientation="portrait"/>

        <activity
                android:name="com.salzerproduct.safehome.GetDeviceInfoActivity"
                android:label="Device Details Info"
                android:screenOrientation="portrait"/>

        <activity android:name="com.salzerproduct.safehome.SettingsActivity"
                  android:screenOrientation="portrait"/>

    </application>
</manifest>